---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/WebPage" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}
    <body>
         <div id="_rock">
            <img src="https://lh3.googleusercontent.com/e5Jwg2hnGitSlnUocbm3aWEmMprrGibVhX9af1qP__506uAG53FZjkSKQ5GcmOERuMKs17PG5Q=w5120-h3200-no" alt="Rock" id="rock"/>
        </div>
        {% include svg-icons.html %}
        {% include header-default.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
    </body>
</html>
